{% extends 'AppExamenCarlos/base.html' %}

{% block title %}Animales ordenados por edad{% endblock %}

{% block content %}
<h2>Animales ordenados por edad de manera descendente</h2>

{% if animales %}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Género</th>
        <th>Especie</th>
        <th>Edad</th>
        <th>Refugio</th>
      </tr>
    </thead>
    <tbody>
      {% for animal in animales %}
        <tr>
          <td>{{ animal.id }}</td>
          <td>{{ animal.nombre }}</td>
          <td>{{ animal.genero }}</td>
          <td>{{ animal.especie }}</td>
          <td>{{ animal.edad }}</td>
          <td>{{ animal.refugio.nombre_refugio }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No se encontraron animales</p>
{% endif %}

<a href="{% url 'base' %}">Volver al inicio</a>
{% endblock %}
