{% extends 'AppExamenCarlos/base.html' %}
{% block title %}Lista Modelo Simple{% endblock %}

{% block content %}
<h2>Lista de Modelos Simples</h2>
<ul>
    {% for obj in objetos %}
        <li>{{ obj.nombre }} - 
            <a href="{% url 'detalle_modelo_simple' obj.id %}">Detalle por ID</a> | 
            <a href="{% url 'detalle_modelo_simple_nombre' obj.nombre %}">Detalle por nombre</a> | 
            <a href="{% url 'detalle_modelo_simple_re' obj.nombre %}">Detalle re_path</a>
        </li>
    {% empty %}
        <li>No hay objetos.</li>
    {% endfor %}
</ul>
{% endblock %}
